<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.petbackend.mapper.PetEncyMapper">

    <!-- 查询所有 -->
    <select id="findAllPetEncy" resultType="web.petbackend.entity.PetEncyclopedia">
        SELECT * FROM pet_encyclopedia
    </select>

    <!-- 分页查询 -->
    <select id="findPetEncyByPage" resultType="web.petbackend.entity.PetEncyclopedia">
        SELECT * FROM pet_encyclopedia
                          LIMIT #{size} OFFSET #{offset}
    </select>


</mapper>
